@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{

    background-position: center;/* 👉para centrar la img*/
    background-repeat: no-repeat;/*👉 sirve para que no se repita la img en caso no entre*/
    background-size: cover;/*👉sirve para que entre en toda el espacio de la cja*/
    background-attachment: fixed;
    background-image: url("https://fondosmil.com/fondo/4654.jpg");
}
/* MENU  */
.menu_responsive{
    display: none;
}
header{
    z-index: 10;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 21px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 255, 0, 0.924);
    box-shadow: 0 0 10px black;
}

header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.5em;
    -webkit-text-stroke: rgb(255, 41, 155) 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Merienda One', cursive;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    font-weight: 700;
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius:20px;
    font-family: 'Chilanka', cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 4px;
}
header ul li a:hover,
header ul li a.active{
    background-color: white;
    color: #b30059;
}
.main {
    background-color: rgba(0, 0, 0, 0.575);
}

/* footer */
footer{
    background-color: rgba(128, 255, 0, 0.931);
    padding-bottom: 0.1px;
    
}
.footer-content{width: 92%;
    margin: auto ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom:60px ;
    align-items: center;
}
.contact-us{
    color: #FFF;
    width: 48%;
}
.brand{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Merienda One', cursive;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
.brand+p{
    font-weight: 600;
    font-family: 'Chilanka', cursive;
    font-size: 20px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.social-media-icon{
display: inline-block;
margin-left: 20px;
width: 60px;
height: 60px;
border-radius: 50%;
text-align: center;
cursor: pointer;
text-align: center;
border: 1px solid #fff;
}

.social-media-icon:hover{
    background: rgba(219, 0, 128, 0.662);
    color: #ffffff;
}

.social-media-icon i{
    font-size:30px;
    line-height:60px;color: #FFF;
}
    
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background-color: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width:860px) {
    .contenedor--slider .item-slide img{
        height: 80vw;
    }
    
    .contenedor--slider{
        width: 100%;
        overflow: hidden;
    }
    
    .menu_responsive{
        display: block;
        background-color: rgba(54, 49, 49, 0.719);
        padding: 5px;
        border-radius: 10px;
    }
    ul{
        position:absolute;
        top: 0px;
        left:0px;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        background: rgba(46, 42, 42, 0.815);
        transform: translateX(-100%);
        transition: .9s ease-out;
        z-index: 100;
    }
    ul li{
        padding: 50px;
    }
    .show{
        transform: translateX(0%);

    } 
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;

    }   
    .contact-us{
        text-align: center;
        padding: 30px 0px;
        letter-spacing: 1pt;
    }
}

@media screen and (max-width:600px) {
    header{
        padding: 30px 50px;
    }
    ul{
        width:70%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
        padding: 30px 5px;
    }
   header.logo{
        font-size:1em;
    }

    .contenedor--slider .item-slide img{
        height: 80vw;
    }
}
@media screen and (max-width:400px) {
   
    header{
        padding: 30px 30px;
    }
    .contact-us h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:380px) {
   
    header{
        padding: 30px 18px;
    }
    header  .logo{
        font-size: 25px;
    }
}
@media screen and (max-width:200px) {
   
    
    header  .logo{
        font-size: 15px;
    }
}




/* https://www.youtube.com/watch?v=1wfeqDyMUx4 */





































