@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "titular";
}
body{

    background-position: center;/* 👉para centrar la img*/
    background-repeat: no-repeat;/*👉 sirve para que no se repita la img en caso no entre*/
    background-size: cover;/*👉sirve para que entre en toda el espacio de la cja*/
    background-attachment: fixed;
}
/* FUENTES */
@font-face{
    font-family: "Escrito";
    src: url(../fonts/little_comet/Little\ Comet\ Demo\ Version.otf);
}

@font-face{
    font-family: "titular";
    src: url(../fonts/delight_candles/Delight\ Candles\ .ttf);
}


/* MENU  */
.menu_responsive{
    display: none;
}
header{
    z-index: 10;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 21px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ab3f0;
    box-shadow: #727174 0.5px 0.5px 7px;
}

header .logo{
    font-family: "Escrito";
    color: white;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 6px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    font-weight: 500;
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius:20px;
}
header ul li a:hover,
header ul li a.active{
    background-color: white;
    color: #8ab3f0;
    box-shadow: 0 0 5px rgb(101, 81, 163);
}
/* .main {
    background-color: rgba(0, 0, 0, 0.575);
} */

/* footer */
footer{
    background-color: #8ab3f0;
    padding-bottom: 12px;
    font-family: "Escrito";
}
.footer-content{width: 92%;
    margin: auto ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom:60px ;
    align-items: center;
}
.contact-us{
    color: #FFF;
    width: 48%;
}
.brand{
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 0 0 4px black;
}
.brand+p{
    font-weight: 500;
    font-family: "Poppins";
    text-shadow: 0 0 4px black;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.social-media-icon{
display: inline-block;
margin-left: 20px;
width: 60px;
height: 60px;
border-radius: 50%;
text-align: center;
cursor: pointer;
text-align: center;
border: 1px solid #fff;
}

.social-media-icon:hover{
    background: rgba(155, 80, 161, 0.616);
    color: #8ab3f0;
}


.social-media-icon i{
    font-size:30px;
    line-height:60px;color: #FFF;
}
    
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background-color: #fff;
    margin-bottom: 60px;
}
/* buscador */
.search_content{
    background-color: rgb(169, 131, 240);
    padding: 15px 20px;
    width: 94%;
    margin: 40px auto;
    border-radius: 15px;
    display: flex ;

}
.search_content input{
    width: 96%;
    padding: 5px;
    border: #ffffff 1.5px solid;
    outline:none;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(124, 124, 124);
}
.search_content button{
    background-color: transparent;
    border: none;
    margin-left:14px;
}
/* FILTROS */
.filters_content{
    margin: 30px auto;
}
.filters-title{
    background-color: rgb(169, 131, 240);
    margin: 25px  25px 4px;
    width: 200px;
    display: flex;
    border-radius: 5px;
}
.filters_content .filters-title h3{
    color: white;
    padding: 10px;
    font-size: 20px;

}
.filters_content .filters-title button{
    justify-content: center;
    background-color:rgba(149, 173, 253, 0);
    border: none;
    padding:0 10px;
}
/* btn de filtros */
.filters-btn{
    background-color: rgb(182, 150, 240);
    width: 90%;
    margin: auto;
    display:none;
    flex-wrap: wrap;
    padding: 15px;

}
.filters-btn button{
    background-color: rgba(211, 206, 220, 0);
    padding: 15px;
    color: white;
    padding: 10px 20px;
    margin:5px;
    border: none;
}
.filters-btn button:hover{
    background-color: rgba(255, 255, 255, 0.46);
    color: rgb(162, 168, 223);
    border-radius: 10px;
}
/* galeria */
#gallery{
    font-family: "Escrito";
    background: linear-gradient(90deg, rgba(60, 174, 244, 0.746), rgba(122, 193, 255, 0.726), rgba(146, 207, 248, 0.86));
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px  auto  ;
    text-align: center;
    border: 6px dashed white;
    justify-content: center;
    
    
}
#gallery  .items-g h3{
    color: rgb(211, 75, 238);
    font-family: "Poppins";
    font-size: 13px;
    padding: 8px 4px; 
}
 .items-g {
    border: 5   px dotted #b596f0ad;
    display: block;
    margin: 50px 36.5px;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    box-shadow: 6px 10px 15px rgba(123, 187, 182, 0.527);
    overflow: hidden;
}
#gallery img{
    width: 230px;
    height: 270px;
}
/* pop up */

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
} 

.modal p {
    opacity: 0.7;
    font-size: 14px;
}
/* responsive */

@media screen and (max-width:860px) {
    
    
    
    .menu_responsive{
        display: block;
        background-color: rgb(169, 131, 240);
        padding: 5px;
        border-radius: 10px;
    }
    ul{
        position:absolute;
        top: 0px;
        left:0px;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        background:rgb(169, 131, 240) ;
        transform: translateX(-100%);
        transition: .9s ease-out;
        z-index: 100;
    }
    ul li{
        padding: 50px;
    }
    .show{
        transform: translateX(0%);

    } 
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;

    }   
    .contact-us{
        text-align: center;
        padding: 30px 0px;
        letter-spacing: 1pt;
    }

}

@media screen and (max-width:600px) {
    header{
        padding: 30px 50px;
    }
    ul{
        width:70%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
        padding: 30px 5px;
    }
   header.logo{
        font-size:1em;
    }

}
@media screen and (max-width:400px) {
   
    header{
        padding: 30px 30px;
    }
    .contact-us h2{
        font-size: 25px;
    }
    .filters-btn button{
        font-size: 12px;
        padding: 3px;
    }
}

@media screen and (max-width:380px) {
   
    header{
        padding: 30px 18px;
    }
    header  .logo{
        font-size: 40px;
    }
}
@media screen and (max-width:200px) {
   
    
    header  .logo{
        font-size: 15px;
    }
}


/* https://www.youtube.com/watch?v=1wfeqDyMUx4 */





































